{% extends 'base.html' %}

{% block content %}

{% block content_header %}

<body style=' background-color:rosybrown;'>
    <h2>Список Работников</h2>
    <p>
        <a href="{% url 'empl_upload' %}" class="btn btn-primary">Загрузить профиль</a>
    </p>
    {% endblock %}
    <table class='table' style='display: grid; ;'>
        <thead>
            <tr class='head'
                style="border: 3px solid #000000; background-color:blanchedalmond; text-align:left; vertical-align: middle; display: grid; grid-template-columns: repeat(9,1fr);">
                <!--Тут обязательно их оборачивать в класс, чтобы правильно считывалось-->
                <th>Превью</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Дата Рождения</th>
                <th>Возраст</th>
                <th>Должность</th>
                <th>Удаленная работа</th>
                <th>Адрес</th>
                <th>Удалить</th>
            </tr>
        </thead>
        <tbody>
            {% for Employee in Employees %}
            <div>
                <tr class='body'
                    style="margin-top: 10px; vertical-align:middle; border: 1px solid #000; display: grid; grid-template-columns: repeat(9, 1fr);">
                    <td style="border:3px #000000;">
                        {% if Employee.cover %}
                        <img src="{{ Employee.cover.url }}" alt='{{ Employee.name }}' style='width: 100px;'>
                        {% else %}
                        <span class='text-muted'>No cover </span>
                        {% endif %}
                    </td>
                    <td style="margin-top: 60px;">
                        <h2> {{ Employee.name }}</h2>
                    </td>
                    <td style="margin-top: 60px;"> {{ Employee.surname }}</td>
                    <td style="margin-top: 60px;">{{ Employee.birth }}</td>
                    <td style="margin-top: 60px;">{{ Employee.age }}</td>
                    <td style="margin-top: 60px;">{{ Employee.position }}</td>
                    <td style="margin-top: 60px;">{{ Employee.udalenka }}</td>
                    <td style="margin-top: 60px;">Г. {{ Employee.gorod }}, {{Employee.ulitsa}} {{Employee.dom}}</td>


                    <td style="margin-top: 60px;">
                        <form method='POST' action="{% url 'delete_empl' Employee.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>

                    <td style="margin-top: 60px;">
                        <form method='POST' action="{% url 'empl_edit' Employee.id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>


                </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
</body>
{% endblock %}